body{
	background: white;
	color: black;
	padding:1%
}

.button {
	      margin: 30px 5px 0 2px;
	      padding: 16px 40px;
	      border-radius: 5px;
	      font-size: 18px;
	      border: none;
	      background: #34aadc;
	      color: white;
	      cursor: pointer;
}
.selectt { 
			float: left;
			color: #33333; 
			display: none; 
			width: 50%; 
			background: white 
		} 
		
#container{
			width: 100%
			margin-left:auto;
			margin-right: auto;
			background-color: #abbcd8; 



}
.button1 {
	      margin: 30px 5px 0 2px;
	      padding: 16px 40px;
	      border-radius: 5px;
	      font-size: 50px;
	      border: none;
	      background: #34aadc;
	      color: white;
	      cursor: pointer;
}
